.header-text{
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
    font-size: 6vw;
    padding-bottom: 5%;
}

.content{
    font-size: large;
    text-align: center;
    padding: 20px;
}